// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$title-color: #3e4742;
$font-color: #6b3719;
$hokkaidou: #2aab39;
$touhoku: #f8d939;
$kantou: #00caff;
$tyuubu: #2ca6e0;
$kansai: #ff9fd4;
$tyuugoku: #97c932;
$shikoku: #e95711;
$kyuusyuu: #d6e20e;
$okinawa: #f29600;
$header: #90a7901d;
$footer: #252525b3;

$admin-btn-color: #535353;
$red: #810c0c;

body {
    margin: 0;
    width: 100vw;
    font-size: 62.5%;
    font-family: "M PLUS Rounded 1c";
}