@import '_variables';

// index
.container {
    background-size: cover;
    background-image: url(../img/index_img.jpg);
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-position: center center;
    min-height: 750px;
    animation: fadeIn 3s ease 0.2s 1 normal;
    .site-ttl {
        letter-spacing: 20px;
        font-size: 4.3em;
        font-family: 'Kaushan Script', cursive;
        color: $title-color;
        text-shadow: 1px 1px 0 #fcffae,
                    -1px 1px 0 #fcffae,
                    1px -1px 0 #fcffae,
                    -1px -1px 0 #fcffae;
        margin: 0;
        padding: 200px 0 50px;
    }
    .site-details {
        display: flex;
        justify-content: flex-end;
        width: 95%;
        font-size: 1.8em;
        line-height: 3;
        color: $font-color;
        margin: 100px auto 50px;
        .site-text {
            width: 50%;
        }
    }
    @media screen and (max-width: 1000px) {
        p {
            width: 90%;
        }
    }
    @media screen and (max-width: 768px) {
        p {
        }
    }
    @media screen and (max-width: 425px) {
        h2 {
            letter-spacing: 2px;
        }
    }
}

@keyframes fadeIn { /*animation-nameで設定した値を書く*/
    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}

.area-search {
    width: 90vw;
    margin: 0 auto;
    .content-ttl {
        display: inline-block;
        margin-left: 10%;
        padding: 5px 10px 0 5px;
        border-bottom: 3px solid $blue;
        border-left: 3px solid $blue;
        line-height: 1;
    }
    .search {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        .search-image {
            text-align: center;
            img {
                min-width: 700px;
            }
        }
        .area {
            position: absolute;
            width: 150px;
            top: 100px;
            right: 15%;
            border-radius: 10px;
            // color: #fff;
            .ttl {
                width: 100%;
                margin: 0;
                margin-top: 10px;
                font-size: 15px;
                text-align: center;
            }
            .group {
                margin: 0;
                margin-bottom: 10px;
                padding: 0 10px;
                display: flex;
                flex-wrap: wrap;
                .list {
                    padding: 0;
                    width: 33%;
                    text-align: center;
                    a {
                        font-size: 10px;
                        // color: #fff;
                    }
                }
            }
            &:nth-child(2) {
                background: $hokkaidou;
                width: 80px;
                .group .list {
                    width: 100%;
                }
            }
            &:nth-child(3) {
                background: $touhoku;
                top: 200px;
            }
            &:nth-child(4) {
                background: $kantou;
                top: 300px;
            }
            &:nth-child(5) {
                background: $tyuubu;
                top: 150px;
                right: 500px;
            }
            &:nth-child(6) {
                background: $kansai;
                top: 480px;
                right: 340px;
            }
            &:nth-child(7) {
                background: $tyuugoku;
                top: 300px;
                right: 660px;
            }
            &:nth-child(8) {
                background: $shikoku;
                width: 110px;
                top: 504px;
                right: 510px;
                .group {
                    .list {
                        width: 50%;
                    }
                }
            }
            &:nth-child(9) {
                background: $kyuusyuu;
                top: 450px;
                right: 800px;
            }
            &:nth-child(10) {
                background: $okinawa;
                top: 500px;
                width: 80px;
                .group .list {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .search {
            max-width: 700px;
            margin-bottom: 50px;
            .search-image {
                img {
                    max-width: 300px;
                }
            }
            .area {
                &:nth-child(2) {
                    right: 10%;
                }
                &:nth-child(3) {
                    top: 180px;
                    right: 10%;
                }
                &:nth-child(4) {
                    right: 10%;
                }
                &:nth-child(5) {
                    right: 350px;
                }
                &:nth-child(6) {
                    top: 435px;
                    right: 240px;
                }
                &:nth-child(7) {
                    top: 280px;
                    right: 520px;
                }
                &:nth-child(8) {
                    top: 460px;
                    right: 400px;
                }
                &:nth-child(9) {
                    width: 110px;
                    top: 400px;
                    right: 600px;
                    .group {
                        .list {
                            width: 50%;
                        }
                    }
                }
                &:nth-child(10) {
                    top: 440px;
                    right: 10%;
                }
            }
        }
    }

    @media screen and (max-width: 425px) {
        .search {
            .search-image {
                img {
                    display: none;
                }
            }
            .area {
                position: static;
                width: 80vw !important;
                margin: 0 auto;
                .ttl {
                    padding: 10px 0;
                }
                .group {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
