@import '_variables';

.wrapper {
    display: flex;
    justify-content: space-around;
    .info-text {
        margin: 80px auto 30px;
        .text {
            font-size: 1.5em;
            text-align: center;
        }
    }
    .service-info {
        width: 35%;
        .info-image {
            position: relative;
            img {
                width: 100%;
                opacity: 0.75;
            }
            &:after {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                box-shadow: inset 0 0 15px 15px #fff;
            }
        }
    }
    @media screen  and (max-width: 1123px){
        flex-direction: column;
        .service-info {
            width: 80vw;
            margin: 0 auto;
            .info-text {
                .text {
                    font-size: 2em;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .text {
            font-size: 1.5em;
        }
    }
}


@keyframes fadeIn { /*animation-nameで設定した値を書く*/
    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}

.area-search {
    max-width: 65%;
    .search {
        max-width: 1000px;
        margin-bottom: 50px;
        position: relative;
        .search-image {
            text-align: center;
            img {
                min-width: 700px;
            }
        }
        .area {
            position: absolute;
            width: 140px;
            top: 50px;
            right: 0;
            border-radius: 10px;
            border: 2px solid #000;
            background-color: #e4e4e4;
            .ttl {
                width: 100%;
                margin: 10px 0;
                font-size: 2em;
                text-align: center;
            }
            .group {
                margin: 0;
                margin-bottom: 10px;
                padding: 0 10px;
                display: flex;
                flex-wrap: wrap;
                .list {
                    padding: 0;
                    width: 50%;
                    text-align: center;
                    line-height: 2;
                    a {
                        font-size: 1.5em;
                    }
                }
            }
            &:nth-child(2) {
                .group .list {
                    width: 100%;
                }
            }
            &:nth-child(3) {
                top: 150px;
            }
            &:nth-child(4) {
                top: 310px;
            }
            &:nth-child(5) {
                left: 240px;
            }
            &:nth-child(6) {
                top: 220px;
                right: 150px;
            }
            &:nth-child(7) {
                left: 90px;
            }
            &:nth-child(8) {
                top: 270px;
                left: 160px;
            }
            &:nth-child(9) {
                top: 210px;
                left: 10px;
            }
            &:nth-child(10) {
                top: 500px;
                .group .list {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 1123px){
        max-width: 100%;
        .search {
            .search-image {
                img {
                    display: none;
                }
            }
            .area {
                position: static;
                width: 80vw !important;
                margin: 0 auto 20px;
                .ttl {
                    padding: 10px 0;
                }
                .group {
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    padding-bottom: 10px;
                    .list {
                        width: 33%;
                        a {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0 auto;
        .search {
            .search-image {
                img {
                    display: none;
                }
            }
            .area {
                position: static;
                width: 80vw !important;
                margin: 0 auto;
                .ttl {
                    padding: 10px 0;
                }
                .group {
                    padding-bottom: 10px;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .search {
            .search-image {
                img {
                    display: none;
                }
            }
            .area {
                position: static;
                width: 80vw !important;
                margin: 0 auto;
                .ttl {
                    padding: 10px 0;
                }
                .group {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
