body {
  margin: 0;
  width: 100vw;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c";
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 100px;
}

.content .content-ttl {
  width: 100%;
  margin: 50px 0 100px;
  text-align: center;
}

.content .left {
  width: 50%;
}

.content .right {
  width: 50%;
}

.content .ttl {
  font-size: 1.6em;
  font-weight: bold;
}

.content .text {
  font-size: 2em;
}

.btn-form {
  text-align: center;
}

.btn-form .btn-content .btn {
  border-radius: 50px;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 50px;
}

.btn-form .btn-content .edit-btn {
  border: 1px solid #535353;
  box-shadow: inset 0 -2px 2px 0 #3b3b3b;
}

.btn-form .btn-content .edit-btn:hover {
  background-color: #535353;
  color: #fff;
}

.btn-form .btn-content .delete-btn {
  border: 1px solid #be1c16;
  color: #be1c16;
  box-shadow: inset 0 -2px 2px 0 #810c0c;
}

.btn-form .btn-content .delete-btn:hover {
  background-color: #be1c16;
  color: #fff;
}

