@charset "UTF-8";

.container {
  background-size: cover;
  background-image: url(/images/index_img.jpg?38f26cc2d8eeee13bc7365ded312ad01);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-position: center center;
  min-height: 100vh;
  -webkit-animation: fadeIn 3s ease 0.2s 1 normal;
          animation: fadeIn 3s ease 0.2s 1 normal;
  position: relative;
}

.container h2 {
  position: absolute;
  top: 70px;
  left: 10%;
  letter-spacing: 20px;
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  color: #367777;
  text-shadow: 1px 1px 0 #fcffae, -1px 1px 0 #fcffae, 1px -1px 0 #fcffae, -1px -1px 0 #fcffae;
}

.container p {
  position: absolute;
  width: 40%;
  top: 400px;
  left: 50%;
  font-size: 18px;
  line-height: 3;
  vertical-align: baseline;
  color: #6b3719;
}

@media screen and (max-width: 768px) {
  .container p {
    top: 320px;
    font-size: 13px;
  }
}

@media screen and (max-width: 425px) {
  .container h2 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .container p {
    left: 5%;
    width: 90%;
  }
}

@-webkit-keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }

  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }

  /*アニメーション終了時は不透明度100%*/}

@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }

  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }

  /*アニメーション終了時は不透明度100%*/}

.area-search {
  width: 90vw;
  margin: 0 auto;
}

.area-search h2 {
  display: inline-block;
  padding: 5px 10px 0 5px;
  border-bottom: 3px solid #3490dc;
  border-left: 3px solid #3490dc;
  line-height: 1;
}

.area-search .search {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.area-search .search .search-image {
  text-align: center;
}

.area-search .search .search-image img {
  min-width: 700px;
}

.area-search .search .area {
  position: absolute;
  width: 150px;
  top: 100px;
  right: 15%;
  border-radius: 10px;
  color: #fff;
}

.area-search .search .area .ttl {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.area-search .search .area .group {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.area-search .search .area .group .list {
  padding: 0;
  width: 33%;
  text-align: center;
}

.area-search .search .area .group .list a {
  font-size: 10px;
  color: #fff;
}

.area-search .search .hokkaidou {
  background: #2aab39;
  width: 80px;
}

.area-search .search .hokkaidou .group .list {
  width: 100%;
}

.area-search .search .touhoku {
  background: #f8d939;
  top: 200px;
}

.area-search .search .kantou {
  background: #00caff;
  top: 300px;
}

.area-search .search .tyuubu {
  background: #2ca6e0;
  top: 150px;
  right: 500px;
}

.area-search .search .kansai {
  background: #ff9fd4;
  top: 480px;
  right: 340px;
}

.area-search .search .tyuugoku {
  background: #97c932;
  top: 300px;
  right: 660px;
}

.area-search .search .shikoku {
  background: #e95711;
  width: 110px;
  top: 504px;
  right: 510px;
}

.area-search .search .shikoku .group .list {
  width: 50%;
}

.area-search .search .kyuusyuu {
  background: #d6e20e;
  top: 450px;
  right: 800px;
}

.area-search .search .okinawa {
  background: #f29600;
  top: 500px;
  width: 80px;
}

.area-search .search .okinawa .group .list {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .area-search .search {
    max-width: 700px;
    margin-bottom: 50px;
  }

  .area-search .search .search-image img {
    max-width: 300px;
  }

  .area-search .search .hokkaidou {
    right: 10%;
  }

  .area-search .search .touhoku {
    top: 180px;
    right: 10%;
  }

  .area-search .search .kantou {
    right: 10%;
  }

  .area-search .search .okinawa {
    top: 440px;
    right: 10%;
  }

  .area-search .search .kansai {
    top: 435px;
    right: 240px;
  }

  .area-search .search .shikoku {
    top: 460px;
    right: 400px;
  }

  .area-search .search .tyuubu {
    right: 350px;
  }

  .area-search .search .tyuugoku {
    top: 280px;
    right: 520px;
  }

  .area-search .search .kyuusyuu {
    width: 110px;
    top: 400px;
    right: 600px;
  }

  .area-search .search .kyuusyuu .group .list {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .area-search .search .search-image img {
    display: none;
  }

  .area-search .search .area {
    position: static;
    width: 80vw;
    margin: 0 auto;
  }

  .area-search .search .area .ttl {
    padding: 10px 0;
  }

  .area-search .search .area .group {
    padding-bottom: 10px;
  }
}

