/*             全体のCSS             */
body {
    background-color: #FFF5EE;
}

a:link, a:visited, a:hover, a:active {
    color: #2F4F4F;
    text-decoration: none;
}


/*             ヘッダー部分のCSS             */

#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 ;
}

.titlelogo { 
    height: 70px;
    margin-left: 80px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
}

ol {
    padding-left: 130px;
}



/*             メイン部分のCSS（トップページ）             */

.main_content {
    background-size: cover;
    background-image: url(../img/4211591_m.jpg);
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding-top: 200px;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 30pt;
    color: #2F4F4F;
}

.container {
    width: 30%;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

article h2 {
    font-size: 13pt;
    padding-left: 70px;
}

article p {
    font-size: 12pt;
    box-sizing: border-box;
}

.main_article {
    margin: 70px 0;
}

.main_article h2 {
    padding-left: 100px;
}

.area_search {
    width: 60%;
    margin-left: 150px;
    margin-top: 30px;
}

.area_search h2 {
    font-size: 13pt;
    padding-left: 200px;
}

.area_search img {
    height: 500px;
    width: 500px;
}




/*             フッター部分のCSS             */

#footer {
    height: 50px;
}

.copyright , .inquiry {
    float: left;
}

.copyright {
    padding-left: 600px;
}

.inquiry {
    margin-top: 15px;
    margin-left: 330px;
}