@charset "UTF-8";

body {
  margin: 0;
  width: 100vw;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c";
}

.title-image {
  height: 500px;
}

.title-image .main-ttl {
  text-align: center;
  font-size: 3em;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.wrapper .info-text {
  margin: 80px auto 30px;
}

.wrapper .info-text .text {
  font-size: 1.5em;
  text-align: center;
}

.wrapper .service-info {
  width: 35%;
}

.wrapper .service-info .info-image {
  position: relative;
}

.wrapper .service-info .info-image img {
  width: 100%;
  opacity: 0.75;
}

.wrapper .service-info .info-image:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px #fff;
}

@media screen and (max-width: 1123px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper .service-info {
    width: 80vw;
    margin: 0 auto;
  }

  .wrapper .service-info .info-text .text {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .text {
    font-size: 1.5em;
  }
}

@-webkit-keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }

  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }

  /*アニメーション終了時は不透明度100%*/}

@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }

  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }

  /*アニメーション終了時は不透明度100%*/}

.area-search {
  max-width: 65%;
}

.area-search .search {
  max-width: 1000px;
  margin-bottom: 50px;
  position: relative;
}

.area-search .search .search-image {
  text-align: center;
}

.area-search .search .search-image img {
  min-width: 700px;
}

.area-search .search .area {
  position: absolute;
  width: 140px;
  top: 50px;
  right: 0;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #e4e4e4;
}

.area-search .search .area .ttl {
  width: 100%;
  margin: 10px 0;
  font-size: 2em;
  text-align: center;
}

.area-search .search .area .group {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.area-search .search .area .group .list {
  padding: 0;
  width: 50%;
  text-align: center;
  line-height: 2;
}

.area-search .search .area .group .list a {
  font-size: 1.5em;
}

.area-search .search .area:nth-child(2) .group .list {
  width: 100%;
}

.area-search .search .area:nth-child(3) {
  top: 150px;
}

.area-search .search .area:nth-child(4) {
  top: 310px;
}

.area-search .search .area:nth-child(5) {
  left: 240px;
}

.area-search .search .area:nth-child(6) {
  top: 220px;
  right: 150px;
}

.area-search .search .area:nth-child(7) {
  left: 90px;
}

.area-search .search .area:nth-child(8) {
  top: 270px;
  left: 160px;
}

.area-search .search .area:nth-child(9) {
  top: 210px;
  left: 10px;
}

.area-search .search .area:nth-child(10) {
  top: 500px;
}

.area-search .search .area:nth-child(10) .group .list {
  width: 100%;
}

@media screen and (max-width: 1123px) {
  .area-search {
    max-width: 100%;
  }

  .area-search .search .search-image img {
    display: none;
  }

  .area-search .search .area {
    position: static;
    width: 80vw !important;
    margin: 0 auto 20px;
  }

  .area-search .search .area .ttl {
    padding: 10px 0;
  }

  .area-search .search .area .group {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 10px;
  }

  .area-search .search .area .group .list {
    width: 33%;
  }

  .area-search .search .area .group .list a {
    font-size: 2em;
  }
}

@media screen and (max-width: 1000px) {
  .area-search {
    margin: 0 auto;
  }

  .area-search .search .search-image img {
    display: none;
  }

  .area-search .search .area {
    position: static;
    width: 80vw !important;
    margin: 0 auto;
  }

  .area-search .search .area .ttl {
    padding: 10px 0;
  }

  .area-search .search .area .group {
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .area-search .search .search-image img {
    display: none;
  }

  .area-search .search .area {
    position: static;
    width: 80vw !important;
    margin: 0 auto;
  }

  .area-search .search .area .ttl {
    padding: 10px 0;
  }

  .area-search .search .area .group {
    padding-bottom: 10px;
  }
}

