body {
  margin: 0;
  width: 100vw;
  font-size: 62.5%;
}

.input-ttl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.input-ttl p {
  font-size: 1.5em;
  margin: 0;
}

.btn span {
  font-size: 1.5em;
}

.button {
  font-size: 1.6em;
}

