/*             全体のCSS             */

body {
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #2F4F4F;
    text-decoration: none;
}

.footer_fixed {
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/*             ヘッダー部分のCSS             */

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo_title { 
    font-family: 'Girassol', cursive;
    font-size: 40pt;
    padding: 18px 50px;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-right: 130px;
}

.menu_button {
    padding-left: 130px;
}

/*             メイン部分のCSS（トップページ）             */

.main_content {
    background-size: cover;
    background-image: url(../img/4211591_m.jpg);
    background-position: center center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 150px;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 30pt;
    letter-spacing: 30px;
    color: #2F4F4F;
}

.container {
    width: 30%;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

article h2 {
    font-size: 13pt;
    padding-left: 70px;
}

article p {
    font-size: 12pt;
    box-sizing: border-box;
}

.main_article {
    margin: 70px 0;
}

.main_article h2 {
    padding-left: 100px;
}

.area_search {
    width: 60%;
    margin: 30px 0 50px 150px;
    position: relative;
}

.area_search h2 {
    position: absolute;
    top: 10px;
    left: -50px;
    font-size: 23pt;
}

.area_search img {
    height: 500px;
    width: 500px;
}

.hokkaidou_area {
    width: 70px;
    position: absolute;
    top: 20px;
    left: 510px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #d4a3c9;
    border-radius: 10px;
}

.touhoku_area {
    width: 125px;
    position: absolute;
    top: 140px;
    left: 455px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #84b4e2;
    border-radius: 10px;
}

.tyuubu_area {
    width: 125px;
    position: absolute;
    top: 105px;
    left: 140px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #a2d0a0;
    border-radius: 10px;
}

.kantou_area {
    width: 190px;
    position: absolute;
    top: 270px;
    left: 390px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #a8dadb;
    border-radius: 10px;
}

.kansai_area {
    width: 125px;
    position: absolute;
    top: 370px;
    left: 220px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #f6e36a;
    border-radius: 10px;
}

.tyuugoku_area {
    width: 125px;
    position: absolute;
    top: 147px;
    left: 0;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #f4b3bb;
    border-radius: 10px;
}

.shikoku_area {
    width: 125px;
    position: absolute;
    top: 412px;
    left: 80px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #f1c16b;
    border-radius: 10px;
}

.kyuusyuu_area {
    width: 125px;
    position: absolute;
    top: 370px;
    left: -110px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #ed7a81;
    border-radius: 10px;
}

.okinawa_area {
    width: 70px;
    position: absolute;
    top: 435px;
    left: 510px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #ed7980;
    border-radius: 10px;
}

.area_group {
    width: 120px;
    padding-left: 15px;
}

.area_list {
    width: 60px;
    padding: 0;
    float: left;
}

.kantou_group {
    width: 200px;
    margin: 0;
    padding-left: 13px;
}

.kantou_list {
    width: 60px;
    padding: 0;
    float: left;
}

.hokkaidou {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 12pt;
}

.touhoku {
    margin: 10px 0;
    padding-left: 30px;
    font-size: 12pt;
}

.tyuubu {
    margin: 10px 0;
    padding-left: 30px;
    font-size: 12pt;
}

.kantou {
    margin: 10px 0;
    padding-left: 60px;
    font-size: 12pt;
}

.kansai {
    margin: 10px 0;
    padding-left: 30px;
    font-size: 12pt;
}

.tyuugoku {
    margin: 10px 0;
    padding-left: 30px;
    font-size: 12pt;
}

.shikoku {
    margin: 10px 0;
    padding-left: 30px;
    font-size: 12pt;
}

.kyuusyuu {
    margin: 10px 0;
    padding-left: 30px;
    font-size: 12pt;
}

.okinawa {
    margin: 10px 0;
    padding-left: 18px;
    font-size: 12pt;
}

/*             フッター部分のCSS             */

footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #5f9ea0;
}

.copyright {
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

/*             フォーム             */

.user_add_title, .user_login_title, .spot_add_list_title, .user_edit_title, .user_list_title {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.add_form, .user_login, .user_edit_form {
    width: 19%;
    margin: 0 auto;
    text-align: right;
}

label {
    display: block;
    margin-bottom: 15px;
}

.button {
    margin: 30px 0 30px 40px;
    padding: 5px;
    background-color: #F0FFF0;
    border-color: #B0E0E6;
    border-radius: 8px;
}

/*             ログインページ             */

.user_pass_edit {
    display: block;
    margin-left: 580px;
    padding-bottom: 60px;
}

/*             ユーザー情報変更             */

.user_edit {
    margin-right: 40px;
    
}

/*             テーブル             */

table {
    width: 600px;
    margin: 0 400px;
}

th {
    width: 30%;
    border-right: 1px black solid;
}

td {
    width: 60%;
    padding-left: 20px;
}

.details {
    display: inline-block;
    width: 40%;
}

/*             検索ページ             */

.search_control {
    margin-left: 80px;
}


.search_button {
    margin: 0 670px;
    border: solid #B0E0E6 1px;
    background-color: #B0E0E6;
    border-radius: 0 0 5px 5px;
}

.search_area {
    margin-top: 100px;
    border: solid #B0E0E6 1px;
    border-radius: 10px;
    background-color: #B0E0E6;
}

.not_spot {
    text-align: center;
    padding: 100px 0 ;
}

/*             検索結果             */

.result_title {
    text-align: center;
}

.result_number {
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
}

.number {
    height: 20px;
    margin-top: 18px;
    margin-left: 5px;
}

.search_result {
    border: solid #708090 1px;
    border-radius: 10px;
}

.result {
    text-align: center;
    margin-bottom: 100px;
}

/*             ユーザー・アドミン画面             */

#side_menu {
    width: 15%;
    height: 75%;
    float: left;
}

.menu_list {
    display: block;
    margin: 50px 0 50px 60px;
}

#main {
    height: 75%;
}

/*             ユーザーページ             */

.user_name, .user_mail {
    display: block;
    margin:  0 0 80px 500px;
}

.user_name {
    padding-top: 150px;
}

.user_edit_button {
    margin-left: 500px;
    padding: 10px;
}

/*             登録一覧             */

.spot_add_button {
    margin-left: 750px;
}

.spot_add {
    margin-top: 50px;
    margin-left: 600px;
}

/*             admin 全ユーザー一覧             */
.user_list_reslut {
    padding-left: 120px;
    margin-bottom: 30px;
}

.user_list_table {
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}

.user_list_id {
    width: 10%;
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}

.user_list_name {
    width: 15%;
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}

.user_list_mail {
    width: 40%;
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}

.user_list_edit {
    width: 20%;
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}
