/*             全体のCSS             */
body {
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #163802;
    text-decoration: none;
}

.footer-fixed {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/*             ヘッダー部分のCSS             */

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #f8fdb11d;
}

.logo-title { 
    padding: 0 5%;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 130px;
}

.main-menu ol {
    font-size: 10pt;
}

.menu-button {
    padding-left: 30px;
}

/*             メイン部分のCSS（トップページ）             */

.main-content {
    background-size: cover;
    background-image: url(../img/index_img.jpg);
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    background-position: center center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 150px;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 30pt;
    letter-spacing: 30px;
    color: #2F4F4F;
}

.page-link {
    width: 200px;
    margin-top: 200px;
    margin-left: 41%;
    text-align: center;
    font-size: 20pt;
    background-color: #1696ff71;
}

.container {
    background-color: #f9de9521;
}

.first-article-area {
    display: flex;
    margin-left: 10%;
    margin-bottom: 100px;
}

.second-article-area {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10%;
}

article h2 {
    font-size: 17pt;
    border-bottom: solid 5px #2bb1ff94;
    border-left: solid 5px #2bb1ff94;
    padding-left: 3%;
}

article p {
    font-size: 12pt;
    box-sizing: border-box;
    line-height: 250%;
    padding-top: 30px;
}

.first-article {
    width: calc((100%/12)*5);
    margin-top: 80px;
}

.first-article-image{
    width: calc((100%/12)*5);
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 5%;
}

.second-article {
    width: calc((100%/12)*5);
    margin-right: 10%;
    padding-top: 30px;
}

.second-article-image{
    width: calc((100%/12)*5);
    margin-right: 10%;
    margin-bottom: 50px;
    border-radius: 5%;
}

.area-search {
    padding: 60px 0;
    position: relative;
}

.area-search-container {
    position: relative;
    margin: 60px 33%;
}

.area-search a {
    color: #2f4f4f;
}

.area-search h2 {
    position: absolute;
    top: 10px;
    left: 10%;
    border-bottom: solid 5px #2bb1ff94;
    border-left: solid 5px #2bb1ff94;
    padding-left: 1%;
    font-size: 23pt;
}

.search-image img{
    height: 500px;
    width: 500px;
}

.hokkaidou-area {
    width: 70px;
    position: absolute;
    top: 10px;
    left: 500px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #d4a3c9;
    border-radius: 10px;
}

.touhoku-area {
    width: 125px;
    position: absolute;
    top: 140px;
    left: 500px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #84b4e2;
    border-radius: 10px;
}

.tyuubu-area {
    width: 125px;
    position: absolute;
    top: 100px;
    left: 130px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #a2d0a0;
    border-radius: 10px;
}

.kantou-area {
    width: 190px;
    position: absolute;
    top: 300px;
    left: 500px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #a8dadb;
    border-radius: 10px;
}

.kansai-area {
    width: 125px;
    position: absolute;
    top: 400px;
    left: 240px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #f6e36a;
    border-radius: 10px;
}

.tyuugoku-area {
    width: 125px;
    position: absolute;
    top: 142px;
    left: -40px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #f4b3bb;
    border-radius: 10px;
}

.shikoku-area {
    width: 125px;
    position: absolute;
    top: 443px;
    left: 70px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #f1c16b;
    border-radius: 10px;
}

.kyuusyuu-area {
    width: 125px;
    position: absolute;
    top: 400px;
    left: -130px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #ed7a81;
    border-radius: 10px;
}

.okinawa-area {
    width: 70px;
    position: absolute;
    top: 460px;
    left: 500px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: #2f4f4f;
    background-color: #ed7980;
    border-radius: 10px;
}

.area-group {
    width: 120px;
    padding-left: 15px;
}

.area-list {
    width: 60px;
    padding: 0;
    float: left;
}

.kantou-group {
    width: 200px;
    margin: 0;
    padding-left: 13px;
}

.kantou-list {
    width: 60px;
    padding: 0;
    float: left;
}

.hokkaidou {
    margin: 10px 0;
    font-size: 12pt;
}

.touhoku {
    margin: 10px 0;
    font-size: 12pt;
}

.tyuubu {
    margin: 10px 0;
    font-size: 12pt;
}

.kantou {
    margin: 10px 0;
    font-size: 12pt;
}

.kansai {
    margin: 10px 0;
    font-size: 12pt;
}

.tyuugoku {
    margin: 10px 0;
    font-size: 12pt;
}

.shikoku {
    margin: 10px 0;
    font-size: 12pt;
}

.kyuusyuu {
    margin: 10px 0;
    font-size: 12pt;
}

.okinawa {
    margin: 10px 0;
    font-size: 12pt;
}

/*             フッター部分のCSS             */

footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(82,161,128,0.7);
}

.copyright {
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

/*             フォーム             */

.title {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.add-form form, .user-login form, .user-edit-form form { 
    width: 70%;
    margin: 0 28%;
}

.spot-create-form form {
    width: 70%;
    margin-left: 25%;
}

.add-form form dl dt, .user-login form dl dt, .user-edit-form form dl dt, .spot-create-form form dl dt {
    width: 20%;
    padding: 10px 5%;
    float: left;
    clear: both;
    text-align: right;
}

.add-form form dl dd, .user-login form dl dd, .user-edit-form form dl dd, .spot-create-form form dl dd {
    padding: 10px 0;
}

.button {
    margin: 30px 0 30px 28%;
    padding: 5px;
    background-color: #50aef142;
    border-color: #06365842;
    border-radius: 8px;
}

.user-edit {
    margin: 30px 0 30px 5%;
    padding: 5px;
    background-color: #50aef142;
    border-color: #06365842;
    border-radius: 8px;
}

.submit-button {
    margin-left: 20%;
}

.spot-add-button {
    margin-left: 33%;
}

.spot-create-button {
    margin: 10px 0 0 65%;
}

/*             ログインページ             */

.user-pass-edit {
    display: block;
    margin-left: 43%;
    padding-bottom: 60px;
}

/*             ユーザー情報変更             */

.user-edit {
    margin-right: 40px;
    
}

/*             検索フォームのテーブル             */

.search-area {
    width: 40%;
    margin: 0 30%;
}

.search-area th {
    width: 30%;
    border-right: 1px black solid;
}

.details {
    display: inline-block;
    width: 48%;
}

/*             検索ページ             */

.search-control {
    margin-left: 80px;
}

.search-button {
    margin: 0 48%;
    border: solid #B0E0E6 1px;
    background-color: #b0e0e6a9;
    border-radius: 0 0 5px 5px;
}

.search-area {
    margin-top: 100px;
    border: solid #B0E0E6 1px;
    border-radius: 10px;
    background-color: #b0e0e6a9;
}

.not-spot {
    text-align: center;
    padding: 100px 0 ;
}

/*             検索結果             */

.result-title {
    text-align: center;
}

.result-number {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}

.number {
    height: 20px;
    margin-top: 18px;
    margin-left: 5px;
}

.search-result {
    border: solid #708090 1px;
    border-radius: 10px;
}

.result {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.paginate-button {
    border: none;
    background-color: #50aef142;
    border-radius: 10%;
}

/*             ユーザー・アドミン画面             */

#side-menu {
    width: 200px;
    height: 100vh;
    float: left;
    background-color: #97f4a024;
}

.menu-list {
    display: block;
    margin: 50px 0 0 50px;
}

#user-info {    
    height: 100vh;
    overflow-y: scroll;
}

/*             ユーザーページ             */

.user-name, .user-mail {
    display: block;
    margin:  0 0 80px 30%;
}

.user-name {
    padding-top: 150px;
}

.user-edit-button {
    margin-left: 70%;
    padding: 10px;
}

/*             admin 全ユーザー一覧             */
.search-box {
    padding-left: 35%;
}

.user-list-reslut {
    margin-bottom: 30px;
}

.user-list-table {
    width: 70%;
    margin: 10px 0 10px 15%;
}

.user-list-table, .user-list-table tr, .user-list-table th, .user-list-table td {
    text-align: center;
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}

.user-list-table th {
    background-color: #dffd9d63;
    color: #2F4F4F;
}

.user-list-table tr th:first-child, .user-list-table tr td:first-child {
    width: 10%;
}

.user-list-table tr th:nth-child(2), .user-list-table tr td:nth-child(2) {
    width: 30%;
} 

.user-list-table tr th:nth-child(3), .user-list-table tr td:nth-child(3) {
    width: 45%;
} 

.user-list-table tr th:last-child, .user-list-table tr td:last-child {
    width: 15%;
} 

.blasklist-user td:first-child {
    background-color: #f651511c;
}

.admin-user-edit {
    background-color: #50aef142;
    padding: 5px;
    border-radius: 10%;
}

.word-search {
    border: none;
    background-color: #50aef142;
    padding: 5px;
    border-radius: 10%;
}
/*              パスワードリセット              */

h4 {
    margin-top: 120px;
    font-size: 22pt;
    text-align: center;
}

.pass-reset-form {
    margin-left: 600px;
}

.pass-edit-form {
    margin-left: 600px;
}

.pass-reset-message p {
    text-align: center;
}

/*              品目登録                */

.recycling-item-table {
    margin: 30px 0 80px 28%;
    text-align: center;
    width: 40%;
}

.recycling-item-table, .recycling-item-table th, .recycling-item-table td {
    border: solid 1px #2F4F4F;
    border-collapse: collapse;
}

.recycling-item-table th:first-child, .recycling-item-table td:first-child {
    width: 15%;
}

.recycling-item-table th:nth-child(2), .recycling-item-table td:nth-child(2) {
    width: 300px;
}

.item-create-form {
    margin: 0 0 50px 40%;
}

.item-delete-button {
    border: none;
    background-color: #50aef142;
}

/*              スポット用テーブル              */

.spot-table {
    width: 50%;
    margin-left: 25%;
}

.spot-table th {
    width: 30%;
    border-right: solid 1px #000000;
}

.spot-table td {
    width: 70%;
}

/*              ペジネーション              */

.pagination li {
    display: inline-block;
}

.pagination li a, .pagination li span {
    padding: 5px 10px;
    font-size: 12pt;
    border: solid 1px #000000;
    background-color: #ffffff;
    border-radius: 10%;
}

.activ span {
    box-sizing: border-box;
    background-color: #83cafd4e;
}

/*              フラッシュメッセージ                */

.flash-message {
    margin: 30px 0;
    text-align: center;
    color: #ff6363;
}

/*              スポット詳細                */

.spot-show-contents {
    display: flex;
}

.image-contents {
    width: 60%;
    margin-top: 100px; 
}

.image-contents img {
    padding-left: 30%;
    width: 50%;
    height: 100%;
}

.spot-details-contents {
    width: 30%;
    margin: 200px 5% 0 0; 
}

.spot-edit-button {
    margin-left: 50%;
    padding: 5px;
    border-radius: 10%;
    background-color: #50aef142;
}

.errors-message {
    text-align: center;
    font-size: 10pt;
    color: #ff6363
}